<div class="elements_list">
    <div class="bars_wrapper">
        <div class="bars">
            <div class="large"></div>
            <div class="thin"></div>
        </div>
    </div>
    <div class="button_list">
        <app-button-component 
            (clicked)="scanWithGoogle()"
            [buttonText]="qrService.isScanning() ? 'Scanning...' : 'Scan With Google integrated'" 
            [isDisabled]="qrService.isScanning()">
        </app-button-component>

        <app-button-component 
            (clicked)="scan()"
            [buttonText]="qrService.isScanning() ? 'Scanning...' : 'Scan with customizable fallback solution'" 
            [isDisabled]="qrService.isScanning()"></app-button-component>
    </div>
</div>

<figure>
    <figcaption>LOG</figcaption>
    <p>Scanned code value : {{qrService.scanResult().at(-1)?.rawValue}}</p>
    <p>Last scan duration : {{qrService.lastScanDuration()}} seconds</p>
</figure>