.icon {
    position: absolute;
    height: 25px;
    width: 25px;
    padding: 0 10px;
    margin: 0;

    border-radius: 10px;
    box-sizing: border-box;
    border: solid 1px black;
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.2s linear;
    cursor: pointer;

    &:hover {
        background-color: #d1cdb7;
    }
}


.icon-eye {
    background-image: url(/assets/icons/eye.svg);
    right: 45px;
}

.icon-share {
    background-image: url(/assets/icons/share.svg);
    right: 10px;
}

:host {
    width: 100%;
    display: flex;
    height: 30;
    line-height: 30px;
    background: #b4af9a;
    align-items: center;
}

p {
    margin: 0 10px;
}