:host {
  display: block;
  width: 100%;
}


.bar {
    outline-offset: -3px;
    display: flex;
    height: 30px;
    background: #ccc8b1;
    outline: 3px solid #57544a;
    min-width: fit-content;
}