.bar{
        outline-offset: -3px;
        display: block;
        height: 30px;
        background: #ccc8b1;
        outline: 3px solid #57544a;
        position: absolute;
        bottom:0;
        left:0;
    }