:host {
    padding: 2%;
}


nav {
    display: flex;
}

a {
    display: block;
    flex-grow: 1;
    padding: 10px 15px;
    background: #57544a;
    border: 1px solid #777;
    border-bottom: none;
    border-radius: 30px 10px 0 0;
    margin-right: 1px;
    color: #d1cdb7;
    text-decoration: none;
    cursor: pointer;

    &:hover {
        border-color: white;
    }
}