ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    gap: 3px;

    li {
        background: #57544a;
        display: flex;
        padding: 5px;
        justify-content: center;
        align-items: center;
        color: #d1cdb7;
        cursor: pointer;

        &:hover {
            color: #57544a;
            background: #d1cdb7;
            transition: background-color 1000ms linear;
        }

        a {
            font-family: "Manrope", sans-serif;
            text-decoration: none;
            font-weight: bold;
        }
    }
}