li {
    background: #b4af9a;
    display: inline-block;
    padding: 3px;
    border: solid 1px #57544a;
    margin: 2px;

    a {
        font-family: "Manrope", sans-serif;
        text-decoration: none;
        font-weight: bold;
    }
}