ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    gap: 3px;

    li {
        background: #b4af9a;
        display: flex;
        padding: 3px;
        border: solid 1px #57544a;
        justify-content: center;
        align-items: center;

        a {
            font-family: "Manrope", sans-serif;
            text-decoration: none;
            font-weight: bold;
        }
    }
}