button,
button:not(:disabled) {
    font-family: Manrope, sans-serif;
    padding: 0px;
    width: 100%;
    height: 100%;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    gap: 5px;
    border: medium;
    box-sizing: border-box;
    cursor: pointer;

    &:hover {
        border: none;

        &:before {
            border: none;
        }
    }

    a {
        font-size: 1rem;
        height: 100%;
        width: 100%;
        text-decoration: none;
        display: flex;
        flex-direction: column;
        color: rgb(87, 84, 74);
        align-items: flex-start;
        background-image: linear-gradient(90deg, rgb(180, 175, 154) 50%, rgb(180, 175, 154) 50%, rgb(87, 84, 74) 50%, rgb(87, 84, 74) 100%);
        background-size: 200%;
        transition: 0.2s linear;
        z-index: 2;

        &::before {
            height: 0px;
            width: 100%;
            background-color: rgb(87, 84, 74);
            content: "";
            transform: translate(0px);
            transition: 0.2s;
            pointer-events: none;
        }

        &::after {
            height: 0px;
            width: 100%;
            background-color: rgb(87, 84, 74);
            content: "";
            transform: translate(0px);
            transition: 0.2s;
            z-index: -1;
            pointer-events: none;
        }

        &:hover {
            background-position: -100% center;
            color: rgb(180, 175, 154);
        }

        &:hover::before {
            height: 2px;
            width: 100%;
            content: "";
            transform: translate(0px, -8px);
            pointer-events: none;
        }

        &:hover::after {
            height: 2px;
            z-index: -1;
            width: 100%;
            content: "";
            transform: translate(0px, 8px);
            pointer-events: none;
        }

        .wrapper {
            padding: 10px;
            display: flex;
            flex-direction: row;
            gap: 10px;
            -moz-box-align: center;
            align-items: center;
            color: inherit;
            font-family: "Manrope", sans-serif;
            font-weight: 500;
            font-size: 18px;

            .dot {
                width: 5%;
                height: 5%;
                min-width: 20px;
                min-height: 20px;
                background-image: linear-gradient(90deg, rgb(87, 84, 74) 50%, rgb(87, 84, 74) 50%, rgb(218, 212, 187) 50%, rgb(218, 212, 187) 100%);
                background-size: 200%;
                transition: 0.1s linear;
            }
        }
    }
}