:host {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    display: block;
}

.notifications {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    align-content: flex-start;
    contain: layout paint;
}