body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #d1cdb7;
    background-size: 0.3rem 0.3rem;
    background-image: linear-gradient(to right, #ccc8b1 1px, rgba(204, 200, 177, 0) 1px), linear-gradient(to bottom, #ccc8b1 1px, rgba(204, 200, 177, 0) 1px);
    position: absolute;
    overflow-x: hidden;

    &.barcode-scanner-active {
        background: transparent;

        .root {
            display: none;
        }

        nav {
            display: none;
        }
    }

    .root {
        display: flex;
        flex-direction: column;
        position: relative;

        .content {
            display: flex;
            flex-direction: column;
            gap: 20px;
            height: 100%;
            width: 100%;
        }
    }

    .elements_list {
        display: flex;
        flex-direction: row;
        gap: 2em;
        height: max-content;
        box-sizing: border-box;
        justify-content: space-between;
        position: relative;


        .bars_wrapper {
            .bars {
                display: flex;
                flex-direction: row;
                height: 100%;

                .large {
                    background-color: rgb(180, 175, 154);
                    width: 10px;
                    height: 100%;
                    margin-right: 5px;
                }

                .thin {
                    background-color: rgb(180, 175, 154);
                    width: 4px;
                    height: 100%;
                    margin-right: 5px;
                }
            }
        }

    }

    .button_list {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 20px;
        height: 100%;
        width: 100%;
    }

    h1 {
        color: rgb(87, 84, 74);
        letter-spacing: 8px;
        display: flex;
        flex-direction: row;
        -moz-box-align: baseline;
        align-items: baseline;
        text-shadow: rgba(0, 0, 0, 0.19) 7px 5px;

        margin-block: 0em;
        margin-inline: 0px;
        font-size: 48px;

        span {
            display: inline-block;
            animation: 0.5s ease-in-out both rstCharAni;
        }

        @keyframes rstCharAni {
            0% {
                opacity: 0;
                transform: translate(100%, 0) scale(3);
            }

            100% {
                opacity: 1;
                transform: translate(0, 0) scale(1);
            }
        }
    }
}