@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600&display=swap');

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #d1cdb7;
    background-size: 0.3rem 0.3rem;
    background-image: linear-gradient(to right, #ccc8b1 1px, rgba(204, 200, 177, 0) 1px), linear-gradient(to bottom, #ccc8b1 1px, rgba(204, 200, 177, 0) 1px);
    position: absolute;
    overflow-x: hidden;
    overflow-y: hidden;

    &.barcode-scanner-active {
        background: transparent;

        .root {
            display: none;
        }
    }

    .root {
        display: flex;
        flex-direction: column;
        padding: 2% 4% 4%;

        .content {
            display: flex;
            flex-direction: column;
            gap: 20px;
            height: 100%;
            width: 100%;
        }
    }
}


button {
    font-family: Manrope, sans-serif;
    padding: 0px;
    width: 100%;
    height: 100%;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    gap: 5px;
    border: medium;
    box-sizing: border-box;
    cursor: pointer;

    a {
        font-size: 1rem;
        height: 100%;
        width: 100%;
        text-decoration: none;
        display: flex;
        flex-direction: column;
        color: rgb(87, 84, 74);
        align-items: flex-start;
        background-image: linear-gradient(90deg, rgb(180, 175, 154) 50%, rgb(180, 175, 154) 50%, rgb(87, 84, 74) 50%, rgb(87, 84, 74) 100%);
        background-size: 200%;
        transition: 0.2s linear;
        z-index: 2;

        &::before {
            height: 0px;
            width: 100%;
            background-color: rgb(87, 84, 74);
            content: "";
            transform: translate(0px);
            transition: 0.2s;
            pointer-events: none;
        }

        &::after {
            height: 0px;
            width: 100%;
            background-color: rgb(87, 84, 74);
            content: "";
            transform: translate(0px);
            transition: 0.2s;
            z-index: -1;
            pointer-events: none;
        }

        &:hover {
            background-position: -100% center;
            color: rgb(180, 175, 154);
        }

        &:hover::before {
            height: 2px;
            width: 100%;
            content: "";
            transform: translate(0px, -8px);
            pointer-events: none;
        }

        &:hover::after {
            height: 2px;
            z-index: -1;
            width: 100%;
            content: "";
            transform: translate(0px, 8px);
            pointer-events: none;
        }

        .wrapper {
            padding: 10px;
            display: flex;
            flex-direction: row;
            gap: 10px;
            -moz-box-align: center;
            align-items: center;
            color: inherit;
            font-family: "Manrope", sans-serif;
            font-weight: 500;
            font-size: 18px;

            .dot {
                width: 5%;
                height: 5%;
                min-width: 20px;
                min-height: 20px;
                background-image: linear-gradient(90deg, rgb(87, 84, 74) 50%, rgb(87, 84, 74) 50%, rgb(218, 212, 187) 50%, rgb(218, 212, 187) 100%);
                background-size: 200%;
                transition: 0.1s linear;
            }
        }
    }
}

.elements_list {
    display: flex;
    flex-direction: row;
    gap: 2em;
    height: max-content;
    box-sizing: border-box;
    justify-content: space-between;
    position: relative;


    .bars_wrapper {
        .bars {
            display: flex;
            flex-direction: row;
            height: 100%;

            .large {
                background-color: rgb(180, 175, 154);
                width: 10px;
                height: 100%;
                margin-right: 5px;
            }

            .thin {
                background-color: rgb(180, 175, 154);
                width: 4px;
                height: 100%;
                margin-right: 5px;
            }
        }
    }

}

.button_list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    height: 100%;
    width: 100%;
}

h1 {
    color: rgb(87, 84, 74);
    letter-spacing: 8px;
    display: flex;
    flex-direction: row;
    -moz-box-align: baseline;
    align-items: baseline;
    text-shadow: rgba(0, 0, 0, 0.19) 7px 5px;

    margin-block: 0em;
    margin-inline: 0px;
    font-size: 48px;

    span {
        display: inline-block;
        animation: 0.5s ease-in-out both rstCharAni;
    }

    @keyframes rstCharAni {
        0% {
            opacity: 0;
            transform: translate(100%, 0) scale(3);
        }

        100% {
            opacity: 1;
            transform: translate(0, 0) scale(1);
        }
    }
}