@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600&display=swap');
@import url('../public/styles/yorha.css');
@import url('../public/styles/yorha_override.scss');
@import url('../public/styles/tabs.scss');
